!!! 5
html
	head
		title Wodstorm Mobile
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
		meta(name='format-detection', content='telephone=no')
		link(href='../assets/styles/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		#login.tela.bg-cinza
			include modules/login
		#inicio.tela.bg-cinza
			include modules/inicio
		.clear
		#wod.tela.bg-cinza
			include modules/wod
		.clear
		#lista-beckmark.tela.bg-cinza
			include modules/lista-benchmark
		#adicionar-benchmark.tela.bg-cinza
			include modules/adicionar-benchmark
		#benchkmark.tela.bg-cinza
			include modules/benchmark
		#resultad-benchmark.tela.bg-cinza
			include modules/resultado-benchmark
		.clear
		#lista-pr.tela.bg-cinza
			include modules/lista-pr
		#benchkmark.tela.bg-cinza
			include modules/pr
		.clear
		#wod-timer.tela.bg-cinza
			include modules/wod-timer
		#for-time.tela.bg-cinza
			include modules/for-time
		#for-time2.tela.bg-cinza
			include modules/for-time2
		#amrap.tela.bg-cinza
			include modules/amrap
		#amrap2.tela.bg-cinza
			include modules/amrap2