!!! 5
html
	head
		title Wodstorm Mobile
		meta(name='viewport', content='width=320, user-scalable=no')
		meta(name="msapplication-tap-highlight", content="no")
		meta(name='format-detection', content='telephone=no')
		link(href='../assets/styles/main.css', rel='stylesheet', type='text/css')
		meta(charset='utf-8')
	body
		#tela
			#telaRolagem
				.container.containerEsquerda
				.container.containerCentro
				.container.containerDireita
		script(type="text/javascript", src="../assets/scripts/tela.js")
		script(type="text/javascript", src="../assets/scripts/ajax.js")
		script(type="text/javascript", src="../assets/scripts/main.js")