#telaAdicionarComposicao.tela
	.voltar Voltar
	h2.titulo Comp. Corporal
	.delete Excluir
	form
		p
			label Data
			input(type="date", name="data")
		p.duas
			label
				| Massa
				br
				| Corporal
			input(type="text", name="massaCorporal")
		p
			label Estatura
			input(type="text", name="estatura")
		p.duas
			label
				| %
				br
				| Gordura
			input(type="text", name="gordura")
		p
			label Circunf.
			input(type="text", name="circunferencias")
		button Salvar