h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Novo Timer
.content
	form
		p
			label Nome
			input(type="text", name="nome")
		p
			label Rounds
			input(type="text", name="rounds")
		p
			label Rest
			input(type="text", name="rest")
		p
			label Warn
			input(type="text", name="warn")
		p
			label Init
			input(type="text", name="init")
		button.btn.btn2 Salvar