h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Novo
.content
	form(id="", method="", action="")
		p
			label Nome
			input(type="text")
		p.textarea
			label Wod
			textarea
		button.btn.btn2 Salvar
//- .bg-popup
//- 	.popup
//- 		| teste