#telaNovoPR.tela
	.voltar Voltar
	h2.titulo Novo
	form(id="", method="", action="")
		p
			label Mov.
			input(type="text")
		p.por
			label Tipo 
			button.active Peso
			button Tempo
			button Reps
		p.por2
			label Peso
			button.active Lbs
			button Kg
		button Salvar
