#telaNovoWod.tela
	.voltar Voltar
	h2.titulo Novo
	.delete Excluir
	form(id="", method="", action="")
		p
			label Data
			input(type="date")
		p.textarea
			label Wod
			textarea 3 séries, a cada 5' completar.... 400mts de corrida... 12 Burpee Muscle up/Burpee C2B
		p.por
			label Por
			button.active Tempo
			button Reps
		p.textarea
			label Result
			textarea 105 reps
		button Salvar
