h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Comp. Corporal
.content
	form
		p
			label Data
			input(type="date", name="data")
		p.duas
			label
				| Massa
				br
				| Corporal
			input(type="text", name="massaCorporal")
		p
			label Estatura
			input(type="text", name="estatura")
		p.duas
			label
				| %
				br
				| Gordura
			input(type="text", name="gordura")
		p
			label Circunf.
			input(type="text", name="circunferencias")
		button.btn.btn2 Salvar