h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Novo
.content
	form(id="", method="", action="")
		p
			label Data
			input(type="date")
		p.textarea
			label Wod
			textarea 3 séries, a cada 5' completar.... 400mts de corrida... 12 Burpee Muscle up/Burpee C2B
		p.textarea
			label Result
			textarea 105 reps
		button.btn.btn2 Salvar