.voltar Voltar
h2.titulo Alterar Senha
form
	p
		label Atual
		input(type="password", placeholder="Digite sua senha atual")
	p
		label Nova
		input(type="password", placeholder="Escolha uma nova senha")
	p
		label Confirm.
		input(type="password", placeholder="Confirma a nova senha")
	button Salvar
	button.btn2 Cancelar