h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Alterar Senha
.content
	form
		p
			label Atual
			input(type="password")
		p
			label Nova
			input(type="password")
		p
			label Confirm.
			input(type="password")
		button.btn.btn2 Salvar
		button.btn Cancelar