h2.titulo.azul 
	.mini-btn.btn-l.flaticon-left17
	| Fran
	.mini-btn.btn-r.flaticon-plus13

.content
	p
		| 21-15-9 reps, for time
		br
		| Thruster 95 lbs
		br
		| Pull-usp
	h3 Meus Resultados
	ul
		li
			strong 31/07/2014
			|  - 4:32 
		li
			strong 01/05/2014
			|  - 5:32
		li
			strong 15/02/2014
			|  - 6:32