#telaBenchmark.tela
	.voltar Voltar
	h2.titulo Fran
	p
		| 21-15-9 reps, for time
		br
		| Thruster 95 lbs
		br
		| Pull-usp
	h3
		| Meus Resultados 
		.adicionar
	ul
		li
			.data 31/07/2014
			.result 4:32 
		li
			.data 01/05/2014
			.result 5:32
		li
			.data 15/02/2014
			.result 6:32