h2.titulo.azul 
	.mini-btn.btn-l <
	| Fran
	.mini-btn.btn-r +

.content
	p.color-white
		| 21-15-9 reps, for time
		br
		| Thruster 95 lbs
		br
		| Pull-usp
	h3.color-white Meus Resultados
	ul.color-white
		li
			strong.color-white 31/07/2014
			|  - 4:32 
		li
			strong.color-white 01/05/2014
			|  - 5:32
		li
			strong.color-white 15/02/2014
			|  - 6:32