#inicio.tela
	#telaInicio
		button.btnPerfil Meu perfil
		.logo
		.botoes
			button Presença
			button#btnWod Wod
		.botoes
			button#btnBenchmark Benchmarks
			button#btnPR P. Records
		.botoes
			button#btnTimer Wod Timer
			button#btnCompCorporal Comp. Corporal
