#menu.menu-lateral
	h4 Toque para acessar seu perfil
	.foto
	h2 Bernard Faria
	dl
		dt 
			| Últimos Benchmarks
			i.flaticon-arrow73
		dd Amanda - 9:45
		dd Fran - 4:25
		dd Annie - 20:11
	dl
		dt
			| Últimos PR's
			i.flaticon-arrow73
		dd Snatch - 185 bls
		dd Front Squat - 215 lbs
		dd Back Squat - 235 lbs
#container
	.menu
			span
	.logo
	.menu-botoes
		button
			i
			| Presença
		button
			i
			| Wod
		button
			i
			| Benchmarks
		button
			i
			| P. Records
		button
			i
			| Wod Timer
		button
			i
			| Comp. Corporal