.logo
.menu-botoes
	button.verde
		i
		| Wod
	button.azul
		i
		| Benchmarks
	button.roxo
		i
		| P. Records
	button.amarelo
		i
		| texto botao
	button.laranja
		i
		| texto botao
	button.vermelho
		i
		| texto botao