#menu.menu-lateral
	h4 Toque para acessar seu perfil
	.foto
	h2 Bernard Faria
	ul
		li
			i
			| Benchmarks
		li
			i
			| Configuração
		li
			i
			| Personal Records
		li
			i
			| Presença
		li
			i
			| Wod
		li
			i
			| Wod Timer
#container
	.menu
			span
	.logo
	.menu-botoes
		button
			i
			| Presença
		button
			i
			| Wod
		button
			i
			| Benchmarks
		button
			i
			| P. Records
		button
			i
			| Wod Timer
		button
			i
			| Perfil