h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Meus Wod's
	.mini-btn.btn-r.flaticon-plus13
.content
	ul
		li 
			| 01/01/2015
			i.flaticon-arrow73
		li 
			| 01/01/2015
			i.flaticon-arrow73
		li 
			| 01/01/201
			i.flaticon-arrow73
		li 
			| 01/01/201
			i.flaticon-arrow73
		li 
			| 01/01/2015
			i.flaticon-arrow73
		li 
			| 01/01/2015
			i.flaticon-arrow73
		li 
			| 01/01/201
			i.flaticon-arrow73
		li 
			| 01/01/2015
			i.flaticon-arrow73
		li 
			| 01/01/2015
			i.flaticon-arrow73
		li 
			| 01/01/201
			i.flaticon-arrow73