h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Comp. Corporal
	.mini-btn.btn-r.flaticon-plus13
.content
	ul
		li 
			| 01/01/2015 
			i.flaticon-arrow73
		li 
			| 01/06/2014
			i.flaticon-arrow73
		li 
			| 01/01/2014
			i.flaticon-arrow73