h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Benchmark
	.mini-btn.btn-r.flaticon-plus13
.content
	ul
		li 
			| Angie 
			i.flaticon-arrow73
		li 
			| Barbara 
			i.flaticon-arrow73
		li 
			| Chelsea
			i.flaticon-arrow73
		li 
			| Cindy
			i.flaticon-arrow73
		li 
			| Diane 
			i.flaticon-arrow73
		li 
			| Elizabeth 
			i.flaticon-arrow73
		li 
			| Fran
			i.flaticon-arrow73
		li 
			| Diane 
			i.flaticon-arrow73
		li 
			| Elizabeth 
			i.flaticon-arrow73
		li 
			| Fran
			i.flaticon-arrow73