#telaListaBenchmark.tela
	.voltar Voltar
	h2.titulo Benchmark
	.novo Novo
	ul
		li 
			| Angie 
			i.flaticon-arrow73
		li 
			| Barbara 
			i.flaticon-arrow73
		li 
			| Chelsea
			i.flaticon-arrow73
		li 
			| Cindy
			i.flaticon-arrow73
		li 
			| Diane 
			i.flaticon-arrow73
		li 
			| Elizabeth 
			i.flaticon-arrow73
		li 
			| Fran
			i.flaticon-arrow73
		li 
			| Diane 
			i.flaticon-arrow73
		li 
			| Elizabeth 
			i.flaticon-arrow73
		li 
			| Fran
			i.flaticon-arrow73
