h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Personal Records
	.mini-btn.btn-r.flaticon-plus13
.content
	ul
		li 
			| Muscle Up
			i.flaticon-arrow73
		li 
			| Thruster
			i.flaticon-arrow73
		li 
			| Squat Snatch
			i.flaticon-arrow73
		li 
			| Power Snatch
			i.flaticon-arrow73
		li 
			| Squat Clean
			i.flaticon-arrow73
		li 
			| Power Clean
			i.flaticon-arrow73
		li 
			| Pull up
			i.flaticon-arrow73