.voltar Voltar
h2.titulo Personal Records
.novo Novo
ul
	li 
		| Muscle Up
		i.flaticon-arrow73
	li 
		| Thruster
		i.flaticon-arrow73
	li 
		| Squat Snatch
		i.flaticon-arrow73
	li 
		| Power Snatch
		i.flaticon-arrow73
	li 
		| Squat Clean
		i.flaticon-arrow73
	li 
		| Power Clean
		i.flaticon-arrow73
	li 
		| Pull up
		i.flaticon-arrow73