h2.titulo.roxo 
	.mini-btn.btn-l.flaticon-left17
	| Personal Records
	.mini-btn.btn-r.flaticon-plus13
.content
	ul
		li Muscle Up
		li Thruster
		li Squat Snatch
		li Power Snatch
		li Squat Clean
		li Power Clean
		li Pull up