h2.titulo.verde 
	.mini-btn.btn-l.flaticon-left17
	| Meus Wod's
	.mini-btn.btn-r.flaticon-plus13
.content
	ul
		li 
			| 01/01/2015 (Performance) 
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance) 
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance)
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance)
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance) 
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance) 
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance)
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance) 
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance) 
			i.flaticon-arrow73
		li 
			| 01/01/2015 (Performance)
			i.flaticon-arrow73