h2.titulo.azul 
	.mini-btn.btn-l <
	| Benchmark
	.mini-btn.btn-r +
.content
	ul
		li Angie 
		li Barbara 
		li Chelsea
		li Cindy
		li Diane 
		li Elizabeth 
		li Fran
	form(id="", method="", action="")
		input(type="text", placeholder="Procurar")
		button.btn.azul procurar 