h2.titulo.roxo 
	.mini-btn.btn-l.flaticon-left17
	| Thruster
	.mini-btn.btn-r.flaticon-plus13

.content
	p.pr 100 lbs
	ul
		li
			strong 90%
			|  - 90
		li
			strong 80%
			|  - 80
		li
			strong 70%
			|  - 70
	h3 Meus Resultados
	ul
		li
			strong 31/07/2014
			|  - 100 
		li
			strong 01/05/2014
			|  - 95
		li
			strong 15/02/2014
			|  - 70