h2.titulo.verde 
	.btn-l <
	| Presença
.content
	form.pres(id="", method="", action="")
		p
			label Box
			input(type="text", name="box", placeholder="CrossfitBH")
		p
			label Data
			input(type="date")
		p
			label Horário
			select
				option Horário
				option 08:00
				option 09:00
				option 10:00
				option 11:00
				option 12:00
				option 18:00
				option 19:00
		button.btn.verde Enviar
	h4 Presentes
	ol
		li Bernard Faria
		li Joao Machado
		li Victor Vieira
		li Victor Fabel
		li Tiago Palhares
		li Felipe Araújo
		li Leonardo Roscoe
		li Bernard Faria
		li Joao Machado
		li Victor Vieira
		li Victor Fabel
		li Tiago Palhares
		li Felipe Araújo
		li Leonardo Roscoe
		li Bernard Faria
		li Joao Machado
		li Victor Vieira
		li Victor Fabel
		li Tiago Palhares
		li Felipe Araújo
		li Leonardo Roscoe
		li Bernard Faria
		li Joao Machado
		li Victor Vieira
		li Victor Fabel
		li Tiago Palhares
		li Felipe Araújo
		li Leonardo Roscoe
