h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| Resultado
.content
	form(id="", method="", action="")
		p
			label Data
			input(type="date")
		p.textarea
			label Resultado
			textarea
		button.btn.btn2 Salvar