h2.titulo.vermelho
	.mini-btn.btn-l.flaticon-left17
	| Tabata
.content
	.rounds
		| Round
		span 3
		| de
		span 8
	.reps
		| Reps
		span 20
	.time 0:25.7
	button.btn.vermelho Pausar
	button.btn Parar