h2.titulo.vermelho
	.mini-btn.btn-l.flaticon-left17
	| Timer
	.mini-btn.btn-r.flaticon-plus13
ul.timer
	li
		.tit Boxing
		.buttons
			button.flaticon-arrow73
			button.flaticon-edit4
			button.flaticon-cross5
		ul.configs
			li
				.nome Rounds
				.tempo 12
			li
				.nome Time
				.tempo 3:00
			li
				.nome Rest
				.tempo 1:00
			li
				.nome Warn
				.tempo 0:10
			li
				.nome Init
				.tempo 0:05
	li
		.tit Tabata
		.buttons
			button.flaticon-arrow73
			button.flaticon-edit4
			button.flaticon-cross5
		ul.configs
			li
				.nome Rounds
				.tempo 8
			li
				.nome Time
				.tempo 0:20
			li
				.nome Rest
				.tempo 0:10
			li
				.nome Warn
				.tempo 0:00
			li
				.nome Init
				.tempo 0:00
	li
		.tit Boxing
		.buttons
			button.flaticon-arrow73
			button.flaticon-edit4
			button.flaticon-cross5
		ul.configs
			li
				.nome Rounds
				.tempo 12
			li
				.nome Time
				.tempo 3:00
			li
				.nome Rest
				.tempo 1:00
			li
				.nome Warn
				.tempo 0:10
			li
				.nome Init
				.tempo 0:05
	li
		.tit Boxing
		.buttons
			button.flaticon-arrow73
			button.flaticon-edit4
			button.flaticon-cross5
		ul.configs
			li
				.nome Rounds
				.tempo 12
			li
				.nome Time
				.tempo 3:00
			li
				.nome Rest
				.tempo 1:00
			li
				.nome Warn
				.tempo 0:10
			li
				.nome Init
				.tempo 0:05