h2.titulo.verde WOD
.content
	p
		| FITNESS
		| 3 séries, a cada 5' completar....
		| 300mts de corrida
		| 12 Pull ups
		| 12 Abd. canivete
		| 12 Burpees

		| PERFORMANCE
		| 3 séries, a cada 5' completar....
		| 400mts de corrida
		| 12 Burpee Muscle up/Burpee C2B