#wod.tela
	#telaWod
		.voltar Voltar
		h2.titulo Wod
		h3 FITNESS
		.wod
			| 3 séries, a cada 5' completar....
			br
			| 300mts de corrida
			br
			| 12 Pull ups
			br
			| 12 Abd. canivete
			br
			| 12 Burpees
		h3 PERFORMANCE
		.wod
			| 3 séries, a cada 5' completar....
			br
			| 400mts de corrida
			br
			| 12 Burpee Muscle up/Burpee C2B
		button Salvar