h2.titulo.verde 
	.mini-btn.btn-l <
	| WOD
.content
	p
		strong FITNESS
		br
		| 3 séries, a cada 5' completar....
		br
		| 300mts de corrida
		br
		| 12 Pull ups
		br
		| 12 Abd. canivete
		br
		| 12 Burpees
		br
		br
		strong PERFORMANCE
		br
		| 3 séries, a cada 5' completar....
		br
		| 400mts de corrida
		br
		| 12 Burpee Muscle up/Burpee C2B
	form(id="", method="", action="")
		input(type="date", placeholder="dd/mm/yyyy")
		input(type="text", placeholder="Resultado")
		button.btn.verde Enviar