h2.titulo
	.mini-btn.btn-l.flaticon-left17
	| WOD
.content
	p.texto
		strong FITNESS
		br
		| 3 séries, a cada 5' completar....
		br
		| 300mts de corrida
		br
		| 12 Pull ups
		br
		| 12 Abd. canivete
		br
		| 12 Burpees
		br
		br
		strong PERFORMANCE
		br
		| 3 séries, a cada 5' completar....
		br
		| 400mts de corrida
		br
		| 12 Burpee Muscle up/Burpee C2B
	button.btn.btn2 Salvar