@font-face {
    font-family: 'exo_2light';
    src: url('../fonts/exo2-light.eot');
    src: url('../fonts/exo2-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-light.woff2') format('woff2'),
         url('../fonts/exo2-light.woff') format('woff'),
         url('../fonts/exo2-light.ttf') format('truetype'),
         url('../fonts/exo2-light.svg#exo_2light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exo_2bold';
    src: url('../fonts/exo2-bold.eot');
    src: url('../fonts/exo2-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-bold.woff2') format('woff2'),
         url('../fonts/exo2-bold.woff') format('woff'),
         url('../fonts/exo2-bold.ttf') format('truetype'),
         url('../fonts/exo2-bold.svg#exo_2bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exo_2regular';
    src: url('../fonts/exo2-regular.eot');
    src: url('../fonts/exo2-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-regular.woff2') format('woff2'),
         url('../fonts/exo2-regular.woff') format('woff'),
         url('../fonts/exo2-regular.ttf') format('truetype'),
         url('../fonts/exo2-regular.svg#exo_2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 30px;
    font-style: normal;
}.flaticon-align7:before {
    content: "\e000";
}
.flaticon-arrow63:before {
    content: "\e001";
}
.flaticon-arrow64:before {
    content: "\e002";
}
.flaticon-arrow73:before {
    content: "\e003";
}
.flaticon-arrows4:before {
    content: "\e004";
}
.flaticon-ascendant:before {
    content: "\e005";
}
.flaticon-attachment3:before {
    content: "\e006";
}
.flaticon-checkmark2:before {
    content: "\e007";
}
.flaticon-chevron8:before {
    content: "\e008";
}
.flaticon-circle9:before {
    content: "\e009";
}
.flaticon-clockwise:before {
    content: "\e00a";
}
.flaticon-code3:before {
    content: "\e00b";
}
.flaticon-conversation1:before {
    content: "\e00c";
}
.flaticon-cross5:before {
    content: "\e00d";
}
.flaticon-days:before {
    content: "\e00e";
}
.flaticon-direction1:before {
    content: "\e00f";
}
.flaticon-down5:before {
    content: "\e010";
}
.flaticon-down6:before {
    content: "\e011";
}
.flaticon-download12:before {
    content: "\e012";
}
.flaticon-edit4:before {
    content: "\e013";
}
.flaticon-export:before {
    content: "\e014";
}
.flaticon-eye8:before {
    content: "\e015";
}
.flaticon-feed:before {
    content: "\e016";
}
.flaticon-folder24:before {
    content: "\e017";
}
.flaticon-forward1:before {
    content: "\e018";
}
.flaticon-frontal:before {
    content: "\e019";
}
.flaticon-gaming:before {
    content: "\e01a";
}
.flaticon-gear:before {
    content: "\e01b";
}
.flaticon-graph3:before {
    content: "\e01c";
}
.flaticon-graph7:before {
    content: "\e01d";
}
.flaticon-graph8:before {
    content: "\e01e";
}
.flaticon-headset1:before {
    content: "\e01f";
}
.flaticon-heart10:before {
    content: "\e020";
}
.flaticon-help2:before {
    content: "\e021";
}
.flaticon-home11:before {
    content: "\e022";
}
.flaticon-info6:before {
    content: "\e023";
}
.flaticon-justify:before {
    content: "\e024";
}
.flaticon-left11:before {
    content: "\e025";
}
.flaticon-left17:before {
    content: "\e026";
}
.flaticon-line4:before {
    content: "\e027";
}
.flaticon-loading:before {
    content: "\e028";
}
.flaticon-location12:before {
    content: "\e029";
}
.flaticon-lock5:before {
    content: "\e02a";
}
.flaticon-loop4:before {
    content: "\e02b";
}
.flaticon-mail5:before {
    content: "\e02c";
}
.flaticon-map4:before {
    content: "\e02d";
}
.flaticon-media11:before {
    content: "\e02e";
}
.flaticon-media12:before {
    content: "\e02f";
}
.flaticon-menu10:before {
    content: "\e030";
}
.flaticon-microphone6:before {
    content: "\e031";
}
.flaticon-mobile5:before {
    content: "\e032";
}
.flaticon-mobile7:before {
    content: "\e033";
}
.flaticon-move5:before {
    content: "\e034";
}
.flaticon-multimedia1:before {
    content: "\e035";
}
.flaticon-new8:before {
    content: "\e036";
}
.flaticon-next5:before {
    content: "\e037";
}
.flaticon-note3:before {
    content: "\e038";
}
.flaticon-open15:before {
    content: "\e039";
}
.flaticon-open16:before {
    content: "\e03a";
}
.flaticon-outline3:before {
    content: "\e03b";
}
.flaticon-outlined:before {
    content: "\e03c";
}
.flaticon-phone14:before {
    content: "\e03d";
}
.flaticon-photo7:before {
    content: "\e03e";
}
.flaticon-plus13:before {
    content: "\e03f";
}
.flaticon-print1:before {
    content: "\e040";
}
.flaticon-question2:before {
    content: "\e041";
}
.flaticon-rectangular1:before {
    content: "\e042";
}
.flaticon-reply2:before {
    content: "\e043";
}
.flaticon-reply4:before {
    content: "\e044";
}
.flaticon-return5:before {
    content: "\e045";
}
.flaticon-retweet1:before {
    content: "\e046";
}
.flaticon-search6:before {
    content: "\e047";
}
.flaticon-star11:before {
    content: "\e048";
}
.flaticon-stop4:before {
    content: "\e049";
}
.flaticon-tablet4:before {
    content: "\e04a";
}
.flaticon-tablet5:before {
    content: "\e04b";
}
.flaticon-text15:before {
    content: "\e04c";
}
.flaticon-text2:before {
    content: "\e04d";
}
.flaticon-thin2:before {
    content: "\e04e";
}
.flaticon-thin6:before {
    content: "\e04f";
}
.flaticon-thumbs9:before {
    content: "\e050";
}
.flaticon-thumbup:before {
    content: "\e051";
}
.flaticon-trash3:before {
    content: "\e052";
}
.flaticon-triangle4:before {
    content: "\e053";
}
.flaticon-upload8:before {
    content: "\e054";
}
.flaticon-user14:before {
    content: "\e055";
}
.flaticon-user15:before {
    content: "\e056";
}
.flaticon-view2:before {
    content: "\e057";
}
.flaticon-view3:before {
    content: "\e058";
}
.flaticon-view:before {
    content: "\e059";
}
.flaticon-volume12:before {
    content: "\e05a";
}
.flaticon-volume5:before {
    content: "\e05b";
}
.flaticon-window12:before {
    content: "\e05c";
}
