@require 'fonts.styl'
@require 'mixins.styl'

// RESET
*
	font-family exo_2regular
	margin 0px
	padding 0px
input
	background none
	border-radius 0
	outline none
body
	background #FFF
	width 6090px
button
	background none
	border none
	outline none
strong
	font-family exo_2bold
.tela
	background-color #191919
	border 1px solid #000
	color #FFF
	display block
	float left
	height 430px
	margin 5px 0 0 5px
	overflow hidden
	position relative
	width 320px
#container
	background-color #191919
	display block
	height 100%
	position relative
	transition transform 0.3s ease-out
.clear
	display block
	clear both
	margin-top 5px
	width 100%

h1
h2
h3
h4
	display block
	margin 10px 0
	text-align center

select
select option
	background none
	border none
	font-size 16px
	
// FORMULARIOS
form
	margin 0 auto
	padding 0
	width 300px
	p
		display block
		margin 0 0 5px 0
		padding 0
		label
			background-color #1E1E1E
			border-radius 4px 0 0 4px
			display block
			float left
			font-size 12px
			height 50px
			line-height 50px
			padding 0 10px
			width 50px
		input[type="text"]
		input[type="password"]
		input[type="email"]
		input[type="date"]
		textarea
		select
			background-color #1E1E1E
			border none
			border-radius 0 4px 4px 0
			color #666
			display block
			font-size 15px
			height 50px
			margin 0
			padding 0 5px 0 0
			width 225px
		&.textarea label
			height 190px
		& textarea
			padding-top 5px
			height 185px
	.radio
		background-color #1E1E1E
		border-radius 0 4px 4px 0
		color #666
		display block
		font-size 15px
		float left
		height 35px
		margin 0
		padding 15px 0 0 0
		width 230px
		label
			display inline-block
			position relative
			padding-left 25px
			margin-right 15px
			font-size 13px
			&:before
				background-color #fff
				border-radius 8px
				bottom 1px
				content ''
				display inline-block
				height 16px
				left 0
				margin-right 10px
				position absolute
				width 16px
		input
			display none
		input:checked + label:before
			content "\2022"
			color #9ed560
			font-size 44px
			line-height 12px
			text-align center
// BOTOES
.btn
	background #353535
	border-radius 4px
	color #fff
	display block
	border none
	font-size 15px
	height 50px
	margin 5px auto
	text-align center
	text-transform uppercase
	width 288px
.mid-position
	position relative;
	bottom -100px;
.mid-position-tabata
	position relative;
	bottom -57px;


// CORES
.verde
	background-color #9ED560
.azul
	background-color #3498db
.roxo
	background-color #9b59b6
.amarelo
	background-color #f1c40f
.laranja
	background-color #e67e22
.vermelho
	background-color #e74c3c

// POPUP
.bg-popup
	background rgba(0, 0, 0, .7)
	display block
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	.popup
		background #fff
		border 1px solid #95a5a6
		border-bottom 2px solid #95a5a6
		border-radius 4px
		color #666
		display block
		left 50%
		margin 0 auto
		padding 10px
		position absolute
		top 50%
		transform translate3d(-50%, -50%, 0)
		width 260px

// MENU LATERAL
.menu-lateral
	background #141514
	box-shadow inset 3px 0px 5px #000
	display block
	height 100%
	left 0
	position absolute
	top 0
	width 280px 
	h4
		color #E7412D
		font-size 12px
	h2
		color #E7412D
	ul li
		border none
		color #E7412D
		height 20px
		line-height 20px
		padding 10px 0
		i
			background #fff
			display block
			float left
			height 20px
			margin 0 10px
			width 20px
	ul li:hover
		background #222
.foto
	background url(../images/froning.jpg) 0 0 no-repeat
	background-size cover
	border 3px solid #E7412D
	border-radius 50%
	display block
	height 100px
	margin 15px auto
	width 100px
.menu
	display inline-block
	height 25px
	left 10px
	position absolute
	top 10px
	width 20px
	z-index 99
.menu span
	margin 0 auto
	position relative
	top 11px
	transition-duration 0s
	transition-delay .25s
.menu span:before, .menu span:after
	content ''
	position absolute
.menu span, .menu span:before, .menu span:after
	background-color #fff
	border-radius 5px
	display block
	height 4px
	width 20px
.menu span:before
	margin-top -9px
	transition-property margin, transform
	transition-duration .2s
	transition-delay .2s, 0  
	-webkit-transition-property margin, -webkit-transform
	-webkit-transition-duration .2s
	-webkit-transition-delay  .2s, 0 
.menu span:after
	margin-top 9px
	transition-property margin, transform
	transition-duration .2s
	transition-delay .2s, 0  
	-webkit-transition-property margin, -webkit-transform
	-webkit-transition-duration .2s
	-webkit-transition-delay .2s, 0;
.menu-active span
	background-color rgba(0,0,0,0.0)
	transition-delay .2s
	-webkit-transition-delay .2s
.menu-active span:before
	margin-top 0
	transform rotate(45deg)
	transition-delay 0, .2s
	-webkit-transform rotate(45deg)
	-webkit-transition-delay 0, .2s
.menu-active span:after
	margin-top 0
	transform rotate(-45deg)
	transition-delay 0, .2s
	-webkit-transform rotate(-45deg)
	-webkit-transition-delay 0, .2s
.active
	transform translate3d(280px,0,0)

// CONTENT
.content
	display block
	float left
	height 100%
	margin 0 10px
	position relative
	width 300px
	.texto
		display block
		margin-bottom 15px
	
// LOGO
.logo
	background url(../images/logo.png) 0 0 no-repeat
	height 150px
	margin 12px auto
	width 133px

// LOGIN
form.login
	margin-top 26px
	button
		background-color #BC3022

// MENU BOTOES
.menu-botoes
	display block
	text-align center
	button
		background-color #BC3022
		border-radius 5px
		color #fff
		display inline
		font-size 10px
		height 78px
		margin-top 5px
		padding 10px
		text-align center
		text-transform uppercase
		width 140px
		i
			background #fff
			border-radius 50%
			display block
			height 24px
			margin 0 auto 10px
			width 24px
		&:active
			background-color #FD5300
.bottom-position
	position relative
	bottom -125px
.bottom-position-tabata
	position relative
	bottom -82px

// TITULOS
.titulo
	color #fff
	display block
	height 50px
	letter-spacing -2px
	line-height 50px
	margin-top 0
	position relative
	text-align center
	text-transform uppercase
	.btn-l
	.btn-r
		left 10px
		text-align center
		position absolute
		top 0px
	.btn-r
		left auto
		right 10px

// LISTA
ul
ol
	display block
	margin 0 auto
	padding 0
	width 100%
	li
		background-color #1E1E1E
		border-radius 4px
		color #666
		display block
		font-size 15px
		height 32px
		line-height 32px
		margin 0 0 2px
		padding 0 7px
		i
			float right
			&:before
				font-size 15px !important
		&:active
			background-color #353535
		&:first-child
			border none
ol
	counter-reset li-counter
	list-style-type none;
	list-style-type decimal !ie
	li
		border none
		display list-item
		padding-left 35px
		position relative
		&:before
			background-color #9BD94F
			border-radius 50%
			color #fff
			content counter(li-counter)
			counter-increment li-counter
			font-size 11px
			font-weight bold
			height 20px
			left 5px
			line-height 20px
			position absolute
			text-align center
			top 6px
			width 20px

// PERSONAL RECORDS
.pr
	font-family exo_2bold
	font-size 40px
	text-align center

// PERFIL


//WOD TIME - FOR TIME
ul.timer
	li
		color #fff
		display inline-block
		height auto
		padding 0
		width 100%
		.tit
			float left
			font-weight bold
			padding-left 10px
		.buttons
			float right
			margin 5px 10px 0 0
			button
				color #fff
				margin 0 3px
				&:before
					font-size 23px
		ul.configs
			float left
			width 100%
			li
				background none
				color #666
				float left
				height auto
				text-align center
				width 20%
.rounds
.reps
	display block
	float left
	font-size 20px
	margin 15px 0
	text-align center
	width 50%
	span
		display inline-block
		font-size 25px
		padding 0 5px
.time
	display block
	float left
	font-size 60px
	margin 55px 0
	text-align center
	width 100%
	&.verde
		background none
		color #0f0
	&.vermelho
		background none
		color #f00
	

// PRESENCA
form.pres
	select
		width 218px

// @media only screen and (max-height: 400px)
// 	.tela
// 		height 362px
	
// @media only screen and (min-height: 451px)
// 	.tela
// 		height 518px