@require 'fonts.styl'

// RESET
*
	color #fff
	font-family exo_2regular
	margin 0px
	padding 0px
input
	background none
	border-radius 0
	outline none
body
	background #FFF
	width 6090px
button
	background none
	border none
	outline none
strong
	font-family exo_2bold
.tela
	background-image -webkit-gradient(linear, left 0%, left 100%, from(#3f3f3f), to(#222222))
	background-image -webkit-linear-gradient(top, #3f3f3f, 0%, #222222, 100%)
	background-image -moz-linear-gradient(top, #3f3f3f 0%, #222222 100%)
	background-image linear-gradient(to bottom, #3f3f3f 0%, #222222 100%)
	border 1px solid #000
	color #FFF
	display block
	float left
	height 430px
	margin 0 5px 0 0
	overflow hidden
	position relative
	width 320px
.clear
	display block
	clear both
	margin-top 5px
	width 100%

// FORMULARIOS
form
	display block
	padding 10px
input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea
	background #fff
	border 1px solid #95a5a6
	border-bottom 2px solid #95a5a6
	border-radius 4px
	color #2c3e50
	display block
	font-size 13px
	margin 5px auto
	padding 5px 8px
	width 234px
p
	display block
	padding 10px

// BOTOES
.btn
	background #34495e
	border-bottom 3px solid #2c3e50
	border-radius 4px
	color #fff
	display block
	font-size 13px
	height 40px
	line-heigh 40px
	margin 5px auto
	text-align center
	text-transform uppercase
	width 250px
.mid-position
	position relative;
	bottom -100px;
.mid-position-tabata
	position relative;
	bottom -57px;


// CORES
.verde
	background #2ecc71
	border-bottom 3px solid #27ae60
.verde .mini-btn
	border 1px solid #27ae60
	border-bottom 3px solid #27ae60
.azul
	background #3498db
	border-bottom 3px solid #2980b9
.azul .mini-btn
	border 1px solid #2980b9
	border-bottom 3px solid #2980b9
.roxo
	background #9b59b6
	border-bottom 3px solid #8e44ad
.roxo .mini-btn
	border 1px solid #8e44ad
	border-bottom 3px solid #8e44ad
.amarelo
	background #f1c40f
	border-bottom 3px solid #f39c12
.amarelo .mini-btn
	border 1px solid #f39c12
	border-bottom 3px solid #f39c12
.laranja
	background #e67e22
	border-bottom 3px solid #d35400
.laranja .mini-btn
	border 1px solid #d35400
	border-bottom 3px solid #d35400
.vermelho
	background #e74c3c
	border-bottom 3px solid #c0392b
.vermelho .mini-btn
	border 1px solid #c0392b
	border-bottom 3px solid #c0392b

// POPUP
// .bg-popup
// 	background rgba(0, 0, 0, .7)
// 	display block
// 	height 100%
// 	left 0
// 	position absolute
// 	top 0
// 	width 100%
// .popup
// 	background #fff
// 	border 1px solid #95a5a6
// 	border-bottom 2px solid #95a5a6
// 	border-radius 4px
// 	display block
// 	margin 0 auto
// 	padding 10px
// 	width 260px


// CONTENT
.content
	display block
	height 100%
	overflow auto
	position relative
// LOGO
.logo
	background url(../images/logo.png) 0 0 no-repeat
	height 150px
	margin 25px auto
	width 133px

// LOGIN
form.login
	background #fff
	border-radius 4px
	margin 0 auto
	padding 10px
	width 80%
form.login input
	background-color #fff
	border 1px solid #ccc
	border-radius 4px
	box-shadow inset 0 1px 1px rgba(0,0,0,0.075)
	-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,0.075)
	color #555
	display block
	font-size 14px
	line-height 1.428571429
	margin-bottom 10px
	padding: 6px 12px
	vertical-align middle
	width 224px
form.login button
	background #e5412d
	border-color #dd301b

// MENU BOTOES
.menu-botoes
	display block
	text-align center
.menu-botoes button
	border-radius 5px
	color #fff
	display inline
	font-size 10px
	height 90px
	margin-top 10px
	padding 10px
	text-align center
	text-transform uppercase
	width 90px
.menu-botoes button i
	background #fff
	border-radius 50%
	display block
	height 24px
	margin 0 auto 10px
	width 24px
.bottom-position
	position relative
	bottom -125px
.bottom-position-tabata
	position relative
	bottom -82px

// TITULOS
.titulo
	color #fff
	display block
	height 50px
	letter-spacing -2px
	line-height 50px
	position relative
	text-align center
	text-transform uppercase
.titulo .mini-btn
	border-radius 5px
	color #fff
	display block
	height 30px
	line-height 30px
	position absolute
	text-align center
	top 10px
	width 30px
.btn-l
	left 10px
.btn-r
	right 10px
h3
	display block
	margin 10px 0
	text-align center

// LISTA
ul
	display block
ul li
	color #fff
	//background #3f3f3f
	linear-gradient(to bottom,#3f3f3f 0%,#222 100%);
	border-top 1px solid #bdc3c7 
	display block
	font-size 16px
	padding 5px
ul li:first-child
	border none

// PERSONAL RECORDS
.pr
	font-family exo_2bold
	font-size 40px
	text-align center

//WOD TIME - FOR TIME
.timer
	font-family exo_2bold
	font-size 50px
	text-align center
	color #fff
.rep-count
	font-family exo_2bold
	font-size 50px
	text-align center
	position relative
	bottom -125px
	color #fff
.rep-count-tabata
	font-family exo_2bold
	font-size 50px
	text-align center
	position relative
	bottom -87px
	color #fff

// PERFIL
.foto
	border 2px solid #fff
	border-radius 50%
	float left
	height 80px
	margin 15px 15px 0 0
	width 80px