@require 'fonts.styl'
@require 'mixins.styl'

// RESET
*
	margin 0px
	padding 0px
input
	background none
	border-radius 0
	outline none
body
	background #FFF
	width 6090px
button
	background none
	border none
	outline none
.tela
	background-color #2A2A2A
	border 1px solid #000
	color #FFF
	display block
	float left
	height 100%
	overflow hidden
	position relative
	width 100%
.container
	width 25%
	height 100%
	float left
	position absolute
.containerCentro
	left 25%
	display inline
.containerEsquerda
	left 0
.containerDireita
	left 50%
#telaRolagem
	background-color #2A2A2A
	position relative
	width 400%
	height: 100%
	overflow: hidden
	transform translate3d(-25%,0,0)
#tela
	width 100%
	height 100%
	overflow hidden
#login
#inicio
#perfil
	background-image url(../images/marca.png)
	background-position 0 0
	background-repeat no-repeat
	background-size 297px 567px
#container
	display block
	height 100%
	position relative
	transition transform 0.3s ease-out
.clear
	display block
	clear both
	margin-top 5px
	width 100%

h1
h2
h3
h4
	display block
	font-family TitilliumWeb-Bold
	margin 10px 0
	text-align center
h2
	background-color #C03119
	font-size 21px
	height 40px
	line-height 40px
	margin 0 auto
select
select option
	background none
	border none
	font-size 16px

// FORMULARIOS
form
	margin 20px auto 0
	padding 0
	width 280px
	p
		display block
		margin 0 0 1px 0
		padding 0
		width 100%
		label
			background-color #1E1E1E
			color #fff
			display block
			float left
			font-family TitilliumWeb-Bold
			font-size 10px
			height 50px
			line-height 50px
			padding 0 10px
			width 40px
		input[type="text"]
		input[type="password"]
		input[type="email"]
		input[type="date"]
		textarea
		select
			background-color #1E1E1E
			border none
			color #666
			display block
			font-family TitilliumWeb-Light
			font-size 16px
			height 50px
			margin 0
			padding 0 5px 0 0
			width 215px
		&.textarea label
			height 190px
		& textarea
			padding-top 5px
			height 185px
		&.duas
			label
				height 42px
				line-height 15px
				padding-top 8px
// BOTOES
button
	background #BC3026
	border-radius 2px
	color #fff
	display block
	border none
	font-family TitilliumWeb-Bold
	font-size 15px
	height 50px
	margin 10px auto 0
	text-align center
	text-transform uppercase
	width 280px
	&:active
		background-color #E02E15
	&.btn2
		background-color #353535
		&:active
			background-color #4B4B4B
.botoes
	display block
	margin 0 auto
	width 280px
	button
		background-color #2A2A2A
		border 1px solid #fff
		display inline-block
		width 134px
		&:nth-child(2n)
			margin-left 7px
		&:active
			background-color #4B4B4B
			border-color #4B4B4B

.voltar
.novo
.sair
	color #fff
	display block
	font-family TitilliumWeb-Light
	font-size 16px
	left 5px
	padding 0 0 0 15px
	position absolute
	top 8px
	&:before
		content '\e60b'
		display block
		font-family icomoon
		font-size 20px
		position absolute
		top 2px
		left -5px
.novo
	left auto
	right 5px
	padding 0 15px 0 0
	&:before
		content '\e601'
		left auto
		right -4px
		top 3px
.sair
	left auto
	padding 0
	right 5px
	&:before
		display none
// POPUP
.blur
	-webkit-filter blur(3px)
	-moz-filter blur(3px)
	-ms-filter blur(3px)
	-o-filter blur(3px)
	filter blur(3px)
.popup
	background-color #000
	display block
	left 50%
	margin 0 auto
	position absolute
	top 50%
	transform translate3d(-50%, -50%, 0)
	width 260px
	.titulo
		border-bottom 1px solid #2A2A2A
		display block
		font-family TitilliumWeb-Bold
		font-size 16px
		height 42px
		line-height 42px
		text-align center
	.mensagem
		color #AAAAAA
		display block
		font-family Lato-Light
		font-size 16px
		padding 10px
		text-align center
	.botoes
		display block
		padding 0 10px 10px 10px
		text-align center
		width auto
		button
			border none
			height 42px
			width 110px
			&:first-child
				background-color #BE2E19

// LOGO
.logo
	background url(../images/logo.png) 0 0 no-repeat
	display block
	margin 12px auto
#login .logo
	background-size 160px 218px
	height 218px
	width 160px
#inicio .logo
	background-size 137px 187px
	height 187px
	margin 30px auto
	width 137px

// LOGIN
form.login
	button
		display inline-block
		margin-top 8px
		position relative
		&:before
			content '\e607'
			font-family icomoon
			font-size 18px
			position absolute
			top 17px
			left 100px
.bottom-position
	position relative
	bottom -125px
.bottom-position-tabata
	position relative
	bottom -82px

// LISTA
ul
ol
	display block
	margin 0 auto
	padding 0
	width 100%
	li
		border-bottom 1px solid #161616
		color #fff
		display block
		font-family Lato-Light
		font-size 16px
		height 50px
		line-height 50px
		margin 0 0 1px
		padding 0 10px
		position relative
		&:after
			color #666
			content '\e603'
			font-family icomoon
			font-size 15px
			height 15px
			position absolute
			right 5px
			top 0px
			width 15px

ol
	counter-reset li-counter
	list-style-type none;
	list-style-type decimal !ie
	li
		border none
		display list-item
		padding-left 20px
		position relative
		&:before
			background-color #FF5600
			border-radius 2px
			color #fff
			content counter(li-counter)
			counter-increment li-counter
			font-size 11px
			font-weight bold
			height 15px
			left 0px
			line-height 14px
			position absolute
			text-align center
			top 3px
			width 15px
		&:after
			display none

// TELA INICIO
#telaInicio
	text-align center
	.btnPerfil
		background none
		border 1px solid #666
		color #666
		font-size 8px
		height 16px
		position absolute
		right 20px
		top 10px
		width 50px
		&:active
			background-color #4B4B4B
			border-color #4B4B4B
			color #fff
	.botoes
		display inline-block
		margin 0 auto
		text-align center
		width 280px
		button
			background-color #bc3026
			border none
			color #fff
			display inline
			font-family TitilliumWeb-Bold
			font-size 15px
			height 60px
			line-height 60px
			margin 0 auto 12px
			text-align center
			text-transform uppercase
			width 136px
			&:nth-child(2n)
				margin-left 4px
			&:active
				background-color #E02E15

// PERSONAL RECORDS
#telaPR
	.pr
		border-bottom 1px solid #4A4A4A
		font-family Lato-Hairline
		font-size 60px
		margin 10px auto
		padding-bottom 8px
		text-align center
		width 280px
	.porcentagem
		display block
		margin 0 auto
		width 280px
		.percent
			display inline-block
			font-family Lato-Light
			font-size 18px
			margin 0 0 2px 26px
			width 100px
			.num
				color #4C4C4C
				display inline-block
			.valor
				display inline-block
				margin-left 10px
	h3
		text-align left
		margin 10px auto -5px
		padding-left 10px
		width 270px
	ul
		background-color #1e1e1e
		font-family TitilliumWeb-Regular
		font-size 16px
		height 155px
		margin 0 auto
		padding 10px
		position relative
		width 260px
		&:before
			color #2A2A2A
			content '\e60a'
			display block
			font-family icomoon
			font-size 90px
			height 90px
			position absolute
			right 15px
			top 40px
			width 90px
		li
			border none
			height auto
			line-height normal
			margin 10px 0 0
			padding 0
			&:after
				display none
			&:first-child
				margin 0
			.data
				color #666666
				display inline-block
				font-family TitilliumWeb-Regular
				font-size 12px
				margin-right 10px
			.result
				display inline-block
				font-family Lato-Light
				font-size 18px
#telaNovoPR
	.por
		background-color #1e1e1e
		button
			background none
			border 1px solid #363636
			color #363636
			display inline-block
			height 40px
			margin 5px 0
			width 69px
			&:active
			&.active
				background-color #2A2A2A
				border-color #fff
				color #fff

// PERFIL
#perfil
	.foto
		background url(../images/froning.jpg) 0 0 no-repeat
		background-size cover
		border 6px solid #353535
		border-radius 50%
		display block
		height 168px
		margin 15px auto 0
		width 168px
	h3
		font-size 24px
		margin 0 auto
	h4
		color #666
		font-family TitilliumWeb-Regular
		font-size 14px
		margin 0
	.pesoAltura
		display block
		height 25px
		margin 20px auto
		width 280px
		div
			color #666
			display block
			height 25px
			float left
			font-family Lato-Light
			font-size 14px
			margin-left 45px
			padding-left 30px
			position relative
			text-align center
			&:before
				font-family icomoon
				font-size 35px
				position absolute
				top -6px
				left -6px
			&.peso:before
				content '\e604'
			&.altura:before
				content '\e602'


// Alterar foto
#alterar-foto
	.fotos
		display block
		position relative
		.foto
			background url(../images/froning.jpg) 0 0 no-repeat
			background-size cover
			border 6px solid #353535
			border-radius 50%
			display block
			height 195px
			margin 25px auto 15px
			width 195px
		.antes
		.depois
			display block
			height 40px
			left 15px
			position absolute
			top 75px
			width 40px
			&:before
				content '\e60b'
				font-family icomoon
				font-size 40px
				left 0px
				position absolute
				top 0px
		.depois
			left auto
			right 15px
			&:before
				content '\e603'

	#btnConfirmar
		padding-left 20px
		position relative
		&:before
			content '\e607'
			font-family icomoon
			font-size 18px
			position absolute
			top 17px
			left 90px
// Alterar senha
#alterar-senha
	p:last-child
		margin-bottom 5px
#adicionar-composicao
	form
		margin 20px auto 0

// CRONOMETRO
#telaListaTimer
	ul.timer
		li
			color #fff
			display inline-block
			height auto
			margin 15px 0 0
			padding 0
			width 100%
			&:after
				display none
			&:first-child
				margin 6px 0 0
			.tit
				float left
				font-family TitilliumWeb-Bold
				font-size 20px
				font-weight bold
				line-height normal
				margin 0 auto -5px
				padding-left 10px
				position relative
			.buttons
				float right
				margin 4px 10px 0 0
				button
					background none
					border 1px solid #666
					border-radius 2px
					color #666
					height 20px
					float right
					font-size 12px
					line-height 14px
					margin 0 3px
					width 50px
					&:active
						background-color #4B4B4B
						border-color #4B4B4B
						color #fff
			ul.configs
				background-color #1E1E1E
				float left
				padding 10px 0
				width 100%
				li
					background none
					border none
					border-left 1px solid #2A2A2A
					color #666
					float left
					height auto
					line-height normal
					margin 0px
					text-align center
					width 19%
					.tempo
						color #fff
						font-family Lato-Hairline
						font-size 21px
#telaTimer
	.rounds
	.reps
	.total
		color #fff
		display block
		float left
		font-family Lato-Hairline
		font-size 30px
		margin-top 30px
		text-align center
		width 33%
		.tit
			color #666
			font-family TitilliumWeb-Light
			font-size 16px
			text-transform uppercase
	.tempo
		border-top 1px solid #4A4A4A
		color #fff
		clear both
		float left
		font-family Lato-Hairline
		font-size 55px
		margin 45px 20px 0
		padding 20px 0 20px 56px
		position relative
		text-align center
		width 224px
		&:before
			color #666
			content '\e608'
			display block
			font-family icomoon
			font-size 80px
			height 80px
			left -12pxpx
			position absolute
			top 14px
			width 80px
// WOD
#telaWod
	h3
		text-align left
		margin 10px auto -5px
		padding-left 10px
		width 270px
	.wod
		background-color #1E1E1E
		font-family TitilliumWeb-Regular
		font-size 16px
		margin 0 auto
		padding 10px
		width 260px
#telaNovoWod
	.textarea label
		height 120px
	textarea
		height 115px
	.por
		background-color #1e1e1e
		button
			background none
			border 1px solid #363636
			color #363636
			display inline-block
			height 40px
			margin 5px 0
			width 100px
			&:nth-child(2n)
				margin-left 7px
			&:active
			&.active
				background-color #2A2A2A
				border-color #fff
				color #fff

// PRESENCA
#presenca
	form.pres
		select
			width 220px
	h3
			text-align left
			margin 10px auto -5px
			padding-left 10px
			width 270px
		ol
			background-color #1e1e1e
			font-family TitilliumWeb-Regular
			font-size 16px
			margin 0 auto
			padding 10px
			width 260px
			li
				height auto
				line-height normal
				margin 10px 0 0
				&:first-child
					margin 0

// BENCHMARK
#telaBenchmark
	p
		font-family TitilliumWeb-Light
		font-size 16px
		margin 20px auto 0
		width 280px
	h3
		text-align left
		margin 25px auto -5px
		padding-left 10px
		position relative
		width 270px
		&:after
			color #474747
			content '\e60a'
			font-family icomoon
			font-size 45px
			height 45px
			position absolute
			top -20px
			right 10px
			width 45px
	ul
		background-color #1e1e1e
		font-family TitilliumWeb-Regular
		font-size 16px
		margin 0 auto
		padding 10px
		width 260px
		li
			border none
			height auto
			line-height normal
			margin 10px 0 0
			padding 0
			&:after
				display none
			&:first-child
				margin 0
			.data
				color #666666
				display inline-block
				font-family TitilliumWeb-Regular
				font-size 12px
				margin-right 10px
			.result
				display inline-block
				font-family Lato-Light
				font-size 18px

// ANIMACAO
.rolagemCentro
	transform translate3d(-25%, 0, 0) !important
.rolagemDir
	transform translate3d(-50%, 0, 0) !important
	transition-property TRANSFORM_PROP
	transition-duration 200ms
	transition-timing-function linear
.rolagemEsq
	transform translate3d(0, 0, 0) !important
	transition-property TRANSFORM_PROP
	transition-duration 200ms
	transition-timing-function linear
